.CheckoutForm div{
   padding: .3rem 1rem;  
   }
   
   .CheckoutForm div > label{
   font-size: 2.2rem;
   margin-right: 1rem;
   text-shadow: 0 0 20px black;
   font-weight: 800;
   color: rgb(236, 253, 0);
   font-weight: bold;
   }
   
   .CheckoutForm div > label::after{
   content: ":";
  font-weight: bold;
    }
   
    .CheckoutForm div > input{
   font-size: 1.2rem;
   border-radius: 5px;
   border: 1px solid lightgray;
   padding-left: 1rem;
   }
   
   .CheckoutForm div > input:focus {
    outline: none;
    border-color: gray;
    }
   