.OrderSummary{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 10px;
}
.div{
    text-align: center;
    
}
.button1{
    border-radius: 10px;
    background-color: #95ac13;
    padding: 10px;
    font-size: 20px;
    font-weight: 800;
    width: 150px;
    border: none;
    margin-right: 50px;
}
.button2{
    background-color: #95ac13   ;
    width: 150px;
    padding: 10px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 10px;
    border: none;
}
ul{
    list-style: none; 
}
