.Orders{
    background-color: #95ac13;
    min-width: 150px;
    text-align: center;
    padding: 10px 50px;
    border-radius: 15px;
    border: solid 2px  black;
    font-size: 20px;

 min-height: 100px;
}