.Orders{
background-color: #ff0000;
min-width: 150px;
text-align: center;
padding: 10px 50px;
border-radius: 15px;
box-shadow: 0 0 10px rgb(255, 38, 0);
font-size: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
 min-height: 100px; 
 color: white;
 text-shadow: 0 0 5px rgb(219, 142, 155);
}
ul{
    margin-top: 50px;
}
.Orders div{
 position: fixed;
 text-align: center;
 padding: 10px;
left: 0;
bottom: 0;

 color: white;
    width:100%;
    font-size: 25px;
    height: 20px;
 
}