.Orders{
    background-color: #ff0707   ;
    min-width: 100px;
    text-align: center;
    padding: 10px 50px;
    border-radius: 25px;
    border: solid 2px  black;
    font-size: 20px;

 min-height: 100px;
}