.FlowerPreview {
  flex: 0 0 410px;
  display: flex;
justify-content:center ;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  flex-direction: column;

}

.color{
  border-radius: 30px  ;
  padding:0 15px;
  width: 410px;
 min-height: 430px;
  background-color: #ff0707;
  margin-bottom: 2rem;
}
.name{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 30px;
}

.price {
 background-color: #ff0707;
 margin: 0 auto;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  color:white; 
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  text-align: center;
}
a:focus {
  outline: none;
}
.flowers{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}