@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Train+One&display=swap');
* {
  font-family: 'Lexend', sans-serif;
  box-sizing: border-box;
}
body{
  font-family: 'Redressed', cursive;
  margin: 0;
 background-color: beige;
 width: 100%;height: 100%;
 

}