  
body{
  font-family: 'Redressed', cursive;
  margin: 0;
 width: 100%;height: 100%;
background-repeat: no-repeat;
background-size: cover;
overflow-x:none ;
  background-image: url(./images/erasdf.jpg);
}