
.Nav {
  font-size: 1.4rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

@media (max-width: 549px) {
  .Nav {
    z-index: 1;
  flex-direction: column;
    margin-top: 1rem;
  }
}