.Auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ff0707;
   min-width: 150px;
   min-height: 120px;
    padding: 20px;
border-radius: 35px;
  box-shadow: 0 0 20px black; 
  margin-top: 2rem;
  
  }
  .Auth input {
    width: 17rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 2px solid #ff0707;
    font-size: 1.3rem;
    outline: none;
  }
  .teksturasanimatsue {
    font-size: 43px;
    color: yellow;
     text-shadow: 0 0 20px black; 
   
  }
  
  .AuthButton {
    text-decoration: none;
    display: inline-block;
    margin: 3px 8px;
    padding: 9px 24px;
    position: relative;
    background-color: rgb(0, 179, 0);
  box-shadow: 0 0 20px black;
  border: solid rgb(0, 179, 0);
    color: yellow;
    border-radius: 10px;
  }
.qwerty{
    text-shadow:0 0 20px black;
}